@using System.Globalization;
@model List<InterviewAssigment.Models.EmployeeViewModel>
@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <p>Number Of Employees</p>
                <h3>@Model.Count()</h3>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer"><br />@*More info*@ <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>    
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">               
                <p>Number Of Females</p>
                <h3>@Model.Where(x => x.Gender == "M").ToList().Count()</h3>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer"><br />@*More info*@  <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">               
                <p>Number Of Males</p>
                <h3>@Model.Where(x => x.Gender == "F").ToList().Count()</h3>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer"><br />@*More info*@  <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <p>Number Of Birthdays This Month</p>
                <h3>@Model.Where(x => DateTime.ParseExact(x.Birth_Date, "yyyy-MM-dd", CultureInfo.InvariantCulture).Month == DateTime.Now.Month).ToList().Count()</h3>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer"><br />@*More info*@ <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Data Table With Full Features</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row" class="even">
                        <td class="sorting_1">@Html.DisplayFor(modelItem => item.User.First_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.User.Last_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
                        @if (item.User.Is_Active)
                        {
                            <td>Active</td>
                        }
                        else
                        {
                            <td>InActive</td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.Position.Name)</td>
                    </tr>
                }
            </tbody>            
        </table>       
    </div>
    <!-- /.box-body -->
</div>
<p>&nbsp</p>
<script>
    $(function () {
      
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>
